#top-right {
    padding: 8px 16px;
    background-color: #76B442;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}

main, h1, p {
    margin-top: 20px;
    padding-left: 20px;
}

.site-header {
    background-color: #000;  /* couleur du fond */
    height: 70px;       /* hautaur fixe */
    padding: 0px 40px;  /* espace horizontal */
    display: flex;          /* aligne logo + bouton sur la même ligne */
    align-items: center;    /* centre verticalement */
    justify-content: space-between; /*reste collé en haut quand on scroll */
    position: sticky;
    top: 0;
    z-index: 10;            /* reste au dessus du contenu */
}

.logo{
    width: 200px;
    height: auto;
}

.media-types {
    padding: 40px;
}

a{
    color: rgb(221, 221, 229);
  font-family: Bookman Old Style ; /*style du texte*/
  font-size: 100%;                  /* taille du texte*/
}

.media-types h2 {
    margin-bottom: 20px;
}


.média-grid {
    display: flex;  /* horizontal */
    gap: 20px;             /* espace entre les bulles */
    flex-wrap: wrap;       /* permet de revenir à la ligne si pas assez de place */
}


.media-card {
    text-decoration: none;   /* enlève le soulignement du lien */
}

.media-thumb {
    width: 150px;
    height: 150px;
    background-color: #222;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(221, 221, 229);
    font-weight: bold;
}

body {
    margin: 0;
    font-family: arial, sans-serif;
}