#top-right {
    position: absolute; 
    top: 8px;
    right: 14px; 
}



.logo {
    width: 90px;
}

.site-header {
    background-color: #000;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}